= render "layouts/gamepanel"
.container.game-container
  .row
    = render "layouts/object", object: @object
  .row
    %h1= t('planet.actions.resources.title')
    %ul.objects-list
      %li= link_to t('planet.actions.resources.metal_mine'), object_planet_path(@planet, :name => "metal", :format => :js), method: :get, :remote=>true
      %li Metal lvl #{@planet.metal_lvl}
      %li= link_to t('planet.actions.resources.crystal_mine'), object_planet_path(@planet, :name => "crystal", :format => :js), method: :get, :remote=>true
      %li Crystal lvl #{@planet.crystal_lvl}
      %li= link_to t('planet.actions.resources.hydrogen_source'), object_planet_path(@planet, :name => "hydrogen", :format => :js), method: :get, :remote=>true
      %li Hydrogen lvl #{@planet.hydrogen_lvl}
      %li= link_to t('planet.actions.resources.solar_power'), object_planet_path(@planet, :name => "solar", :format => :js), method: :get, :remote=>true
      %li Solar lvl #{@planet.solar_lvl}
