.gamepanel
  %ul#game-navlist
    %li= link_to t('planet.common.planet'), planet_path(@planet), method: :get
    %li= link_to t('planet.actions.resources.resources'), resources_planet_path(@planet), method: :get
    %li= link_to "Budynki", "#"
    %li= link_to "Badania", "#"
    %li= link_to "Stocznia", "#"
    %li= link_to "Obrona", "#"
    %li= link_to "Floty", "#"
    %li= link_to "Galaktyka", "#"
    %li= link_to "Sojusz", "#"
