.gamepanel
  %ul#game-navlist
    %li= link_to "Planeta", "#"
    %li= link_to "Wydobycie", "#"
    %li= link_to "Budynki", "#"
    %li= link_to "Badania", "#"
    %li= link_to "Stocznia", "#"
    %li= link_to "Obrona", "#"
    %li= link_to "Floty", "#"
    %li= link_to "Galaktyka", "#"
    %li= link_to "Sojusz", "#"
